<!--templates/index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/index.js') }}"></script>
</head>
<body>
    <h1>Clothing Store Recommendation</h1>
    <div class="auth-buttons">
        {% if session.username %}
            <a href="{{ url_for('user.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('user.login') }}">Login</a>
            <a href="{{ url_for('user.register') }}">Register</a>
        {% endif %}
    </div>
    {% if session.username %}
        <form method="POST" action="{{ url_for('user.save_preferences') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-page active" id="page1">
                <label>Would you like help finding your body shape?</label>
                <div class="radio-group">
                    <label class="radio-button" onclick="showAdditionalFields(true)">
                        <input type="radio" name="predict" value="yes">
                        Yes
                    </label>
                    <label class="radio-button" onclick="showAdditionalFields(false)">
                        <input type="radio" name="predict" value="no">
                        No
                    </label>
                </div>
                <div id="additional-fields" class="additional-fields" style="display: none;">
                    <label for="Chest">Chest (in inches):</label>
                    <input type="number" id="Chest" name="Chest" step="1" {% if user_preferences %}value="{{ user_preferences.chest }}"{% endif %}>
                    <label for="Waist">Waist (in inches):</label>
                    <input type="number" id="Waist" name="Waist" step="1" {% if user_preferences %}value="{{ user_preferences.waist }}"{% endif %}>
                    <label for="High">High Hip (in inches):</label>
                    <input type="number" id="High" name="High" step="1" {% if user_preferences %}value="{{ user_preferences.high_hip }}"{% endif %}>
                    <label for="Hip">Hip (in inches):</label>
                    <input type="number" id="Hip" name="Hip" step="1" {% if user_preferences %}value="{{ user_preferences.hip }}"{% endif %}>
                </div>
                <div id="shape-group" class="additional-fields" style="display: none;">
                    <label for="shape">Body Shape:</label>
                    <div class="radio-group">
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Rectangle" {% if user_preferences and user_preferences.body_shape == 'Rectangle' %} checked {% endif %}>
                            Rectangle
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Inverted Triangle" {% if user_preferences and user_preferences.body_shape == 'Inverted Triangle' %} checked {% endif %}>
                            Inverted Triangle
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Top Hourglass" {% if user_preferences and user_preferences.body_shape == 'Top Hourglass' %} checked {% endif %}>
                            Top Hourglass
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Triangle" {% if user_preferences and user_preferences.body_shape == 'Triangle' %} checked {% endif %}>
                            Triangle
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Hourglass" {% if user_preferences and user_preferences.body_shape == 'Hourglass' %} checked {% endif %}>
                            Hourglass
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Bottom Hourglass" {% if user_preferences and user_preferences.body_shape == 'Bottom Hourglass' %} checked {% endif %}>
                            Bottom Hourglass
                        </label>
                        <label class="radio-button">
                            <input type="radio" name="shape" value="Spoon" {% if user_preferences and user_preferences.body_shape == 'Spoon' %} checked {% endif %}>
                            Spoon
                        </label>
                    </div>
                </div>
                <div class="nav-buttons">
                    <button type="button" onclick="nextPage()">Next</button>
                </div>
            </div>
            <div class="form-page" id="page2">
                <label for="gender">Gender:</label>
                <div class="radio-group">
                    <label class="radio-button">
                        <input type="radio" name="gender" value="Men" {% if user_preferences and user_preferences.gender == 'Men' %} checked {% endif %}>
                        Men
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="gender" value="Women" {% if user_preferences and user_preferences.gender == 'Women' %} checked {% endif %}>
                        Women
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="gender" value="Unisex" {% if user_preferences and user_preferences.gender == 'Unisex' %} checked {% endif %}>
                        Unisex
                    </label>
                </div>
                <div class="nav-buttons">
                    <button type="button" onclick="prevPage()">Previous</button>
                    <button type="button" onclick="nextPage()">Next</button>
                </div>
            </div>
            <div class="form-page" id="page3">
                <label for="skin_tone">Skin Tone:</label>
                <div class="radio-group">
                    <label class="radio-button">
                        <input type="radio" name="skin_tone" value="Spring" {% if user_preferences and user_preferences.skin_tone == 'Spring' %} checked {% endif %}>
                        Spring
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="skin_tone" value="Summer" {% if user_preferences and user_preferences.skin_tone == 'Summer' %} checked {% endif %}>
                        Summer
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="skin_tone" value="Autumn" {% if user_preferences and user_preferences.skin_tone == 'Autumn' %} checked {% endif %}>
                        Autumn
                    </label>
                    <label class="radio-button">
                        <input type="radio" name="skin_tone" value="Winter" {% if user_preferences and user_preferences.skin_tone == 'Winter' %} checked {% endif %}>
                        Winter
                    </label>
                </div>
                <div class="nav-buttons">
                    <button type="button" onclick="prevPage()">Previous</button>
                    <input type="submit" value="Get Recommendations">
                </div>
            </div>
        </form>
    {% else %}
        <p class="login-message">Please <a href="{{ url_for('user.register') }}">register</a> or <a href="{{ url_for('user.login') }}">log in</a> to set your preferences and get clothing recommendations.</p>
    {% endif %}
</body>
</html>