<!--templates/recommendation.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enhancing Personal Style</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/recommend.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/recommend.js') }}"></script>
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('main.index') }}" class="home-icon">
            <img src="{{ url_for('static', filename='assets/home/home.svg') }}" alt="Home Icon">
        </a>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="{{ url_for('static', filename='assets/user/user.svg') }}" alt="User Info Dropdown">
            </button>
            <div class="dropdown-content">
                <p>Body shape: {{ user_shape }}</p>
                <p>Gender: {{ user_gender }}</p>
                <p>Skin tone: {{ user_skin_tone }}</p>
            </div>
        </div>
    </div>
    <h1>Recommended Products</h1>
    {% for articleType, items in products.items() %}
        <div class="article-type">
            <h2>{{ articleType }}</h2>
            <div class="product-list">
                {% for product in items %}
                    <div class="product">
                        {% if product.recommended_by == 'collaborative_filtering' %}
                            <div class="cf-message">{{ product.liked_by_count }} user(s) also liked this</div>
                        {% endif %}
                        <h3>{{ product.product_display_name }}</h3>
                        <img src="{{ product.product_image_link }}" alt="Product Image" class="product-image">
                        <a href="{{ product.amazon_search_url }}" target="_blank" class="no-underline">
                            <button type="submit" class="amazon-btn">
                                <img src="{{ url_for('static', filename='assets/amazon/amazon.svg') }}" alt="Amazon Icon">
                                Search for Product
                            </button>
                        </a>
                        <form method="POST" action="{{ url_for('user.like_product') }}" class="like-form" data-product-id="{{ product.id }}">
                            {{ form.hidden_tag() }}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            {% if product.id in liked_products %}
                                <button type="button" class="like-btn" title="You liked this item!">
                                    <img src="{{ url_for('static', filename='assets/like/like.svg') }}" alt="Unlike">
                                </button>
                            {% else %}
                                <button type="button" class="like-btn" title="You haven't liked this item!">
                                    <img src="{{ url_for('static', filename='assets/like/unlike.svg') }}" alt="Like">
                                </button>
                            {% endif %}
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</body>
</html>