/* /static/style/index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'theme.css';

* {
    box-sizing: border-box;
    /*padding: 0;*/
    /*margin: 0;*/
}

body {
    font-family: var(--mdc-typography--font-family), serif;
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-on-surface);
}

h1 {
    text-align: center;
    color: var(--mdc-theme-on-surface);
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--mdc-theme-surface);
    border-radius: var(--mdc-shape-medium);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--mdc-theme-on-surface);
}

select, button[type="submit"], button[type="button"] {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--mdc-shape-small);
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: var(--mdc-shape-small);
}

button[type="submit"], button[type="button"] {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    cursor: pointer;
}

input[type="submit"]:hover, button[type="button"]:hover {
    background-color: #555;
}

.additional-fields {
    display: none;
}

.auth-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.auth-buttons a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    text-decoration: none;
    border-radius: var(--mdc-shape-small);
}

.auth-buttons a:hover {
    background-color: #555;
}

.login-message {
    text-align: center;
    font-weight: bold;
    color: var(--mdc-theme-on-surface);
    margin: 20px 0;
}

.login-message a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
}

.login-message a:hover {
    text-decoration: underline;
}

.form-page {
    display: none;
}

.form-page.active {
    display: block;
}

.nav-buttons {
    margin-top: 20px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.man-image {
    max-width: 200px;
}

.woman-image {
    max-width: 200px;
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid var(--mdc-theme-primary);
    background-color: var(--mdc-theme-on-primary);
    color: var(--mdc-theme-on-surface);
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-button.selected {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-surface);
}

.radio-button .question-mark {
    padding: 6px 0;
    cursor: pointer;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
    margin: -15px -5px;
    border-radius: 50%;
    background-color: var(--mdc-theme-surface);
    color: var(--mdc-theme-primary);
    width: 30px;
    height: 30px;
    text-align: center;
}

.radio-button:hover {
    background-color: #c798a6;
    color: var(--mdc-theme-surface);
}

.radio-button .question-mark:hover {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

button[type="button"] {
    padding: 10px 20px;
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    border: none;
    border-radius: var(--mdc-shape-small);
    cursor: pointer;
    font-weight: bold;
}

button[type="button"]:hover {
    background-color: #555;
}

button[type="button"].prev-button {
    background-color: var(--mdc-theme-on-primary);
    border: 2px solid var(--mdc-theme-primary);
    color: var(--mdc-theme-primary);
}

button[type="button"].next-button {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

button[type="button"].prev-button:hover,
button[type="button"].next-button:hover {
    background-color: #555;
    color: var(--mdc-theme-on-primary);
}

.explanation-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 0 20px;
    z-index: 10;
    max-width: 500px;
    right: 15px;
    font-size: 16px;
}

.explanation-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color-box {
    width: 20%;
    padding-bottom: 20%;
    margin: 10px 0;
}
