/*/static/style/recommend.css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'theme.css';

* {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

body {
    font-family: var(--mdc-typography--font-family), serif;
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-on-surface);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mdc-theme-surface);
    padding: 5px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: -webkit-fill-available;
}

.home-icon {
    color: var(--mdc-theme-primary);
    text-decoration: none;
}

.home-icon img {
    width: 30px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropbtn {
    display: flex;
    background-color: var(--mdc-theme-on-primary);
    border: none;
    border-radius: var(--mdc-shape-small);
    cursor: pointer;
}

.dropbtn img {
    width: 35px;
    height: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: max-content;
    overflow-y: auto;
    max-height: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content p {
    color: var(--mdc-theme-on-surface);
    padding: 10px;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

h1 {
    color: var(--mdc-theme-on-surface);
    text-align: center;
    margin: -5px 0 10px;
    font-size: 25px;
}

.product {
    display: flex;
    padding: 0 30px;
    background-color: var(--mdc-theme-surface);
    width: 100%;
    max-width: 300px;
    height: max-content;
    border-radius: var(--mdc-shape-small);
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.product img {
    width: 50%;
    height: auto;
    border-radius: var(--mdc-shape-small);
}

.product-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#testing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--mdc-theme-surface);
    border-radius: var(--mdc-shape-small);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: max-content;
    justify-content: center;
}

.form-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#testing-form button[type="submit"] {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: var(--mdc-shape-small);
    cursor: pointer;
}

#testing-form button[type="submit"]:hover {
    background-color: #555;
}

.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 200px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.next-product-btn {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    border: none;
    border-radius: var(--mdc-shape-small);
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
}

.previous-product-btn {
    background-color: var(--mdc-theme-on-primary);
    border: 2px solid var(--mdc-theme-primary);
    color: var(--mdc-theme-primary);
    border-radius: var(--mdc-shape-small);
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
}

.previous-product-btn:hover, .next-product-btn:hover {
    background-color: #555;
    color: var(--mdc-theme-on-primary);
}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0 0;
}

.scale-element {
    padding: 0 10px;
}

.product-element {
    margin: 0 0 20px;
}

.message-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.likert-scale, .matching-slider, .shape-slider, .skin-tone-slider {
    width: 200px;
}